*{
    margin: 0px;
    padding: 0px;
}

/* reuasable css  */

.container{
    width: 80%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section_title{
    font-family: segoe UI;
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 30px;

}

.btn{
    padding: 15px 40px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: segoe UI;

}


.padd{
    padding: 20px;
}

/* css for header  */

.header{
    width: 100%;
    background-color: #171616;
    display: flex;
    justify-content: center;
    color: white;
    position: fixed;
    top: 0;
}



.logo{
    width: 15%;
    height: 80px;
    /* background-color: yellow; */
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: segoe UI;
    line-height: 80px;
}

.ham{
 display: none;
}
.nav {
    width: 40%;
    /* height: 60px; */
    /* background-color: yellow; */
}

.nav-parent{
    display: flex;
    flex-wrap: wrap;
}

.nav-link{
    list-style-type: none;
    width: 25%;
    height: 80px;
    /* background-color: green; */
    text-align: center;
    line-height: 80px;
    font-family: segoe UI;
    font-size: 18px;
    transition: .4s;
    cursor: pointer;
    /* border-top:1px solid gray; */


}

.nav-link:hover{
    background-color: white;
    color: #171616;
}

.banner{
    width: 100%;
    height: 75vh;
    background-color: gray;
    background-image: url('https://images.pexels.com/photos/3765035/pexels-photo-3765035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: center;
    margin-top: 80px;
}

.banner_details{
    width: 30%;
    height: 400px;
    background-color: rgba(0,0,0,.5);
    margin-left: 10%;
    color: white;
    font-family: segoe UI;
    border-radius: 10px;
    display: flex;
    align-items: center;



}




.banner_title{
    font-size: 60px;
    margin-bottom: 15px;
}

.banner_desc{
    line-height: 25px;
    margin-bottom: 15px;
}



.banner_btn{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transition: .4s;
}

.banner_btn:hover{
    background-color: white;
    color: #171616;
}

/* css for products  */

.products{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eeecec;
    display: flex;
    justify-content: center;
}

.products_container{
    flex-direction: column;
    align-items: center;

}
.product_parent{
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.product{
    width: 22%;
    background-color:white;
    font-family: segoe UI;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
    /* box-shadow: 0 0 1px gray; */
}

.product_img{
    width: 100%;
    height: 350px;
    /* background-color: blue; */
    overflow: hidden;
}

.product_img>img{
    width: 100%;
    transition: .4s;
}

.product_img>img:hover{
    transform: scale(1.3);
}



.product_detail{
    width: 100%;
    height: 250px;
    /* background-color: green; */
}

.product_detail h2,.product_detail p
{
    margin-bottom: 10px;
}

.product_btn{
    transition: .4s;
}

.product_btn:hover{
    background-color: #171616;
    color: white;
}

.about{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    background-color: #171616;
}

.about_title{
    color: white;
}

.about_container{
    flex-direction: column;
    align-items: center;
}

.about_parent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.about_image{
    width: 50%;
    height: 450px;
    /* background-color: red; */
    overflow: hidden;
}

.about_image>img{
    width: 100%;
}

.about_content{
    width: 50%;
    height: 450px;
    background-color: white;
    font-family: segoe UI;
    line-height: 25px;
    display: flex;
    align-items: center;
}

.big{
    font-size: 30px;
    font-weight: bold;
}


/* css for mobile  */

@media (max-width:450px){

    /* reusable css  */

    .btn {
        padding:10px 20px;
        font-size: 16px;
    }

    .container{
        width: 100%;
        justify-content: center;
    }

    .logo{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }



    .ham{
        display: block;
        height: 30px;
    }

    .nav{
        width: 100%;
        height: 0px;
        overflow: hidden;
        transition: .4s;
    }

    .nav-link{
        width: 100%;
        box-shadow: 0 0 1px gray;
        line-height: 50px;
        height: 50px;
        text-align: left;
        text-indent: 18px;
    }

    /* css for banner  */

    .banner{
        height: 400px;

    }

    .banner_details{
        width: 100%;
        height: 100%;
        margin-left: 0;
        border-radius: 0;
    }

    .banner_title{
        font-size: 30px;
    }

    /* css for products  */

    .product{
        width: 95%;
    }

    /* css for about  */

    .about_parent{
        justify-content: center;
    }

    .about_image{
        width: 95%;
       height: 250px;

    }

    .about_content{
        height: auto;
        width: 95%;
    }



}
